---
import RootLayout from "./RootLayout.astro";
import Footer from "../components/footer.astro";
import WarpBackground from "../components/warp-background";

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
---

<RootLayout title={title} description={description}>
	<div class="relative w-screen">
		<nav class="fixed left-0 top-0 bottom-0 w-16 sm:w-20 md:w-24 xl:w-32 z-32">
			<div class="w-full h-full rounded-r-3xl overflow-hidden shadow-2x1">
				<WarpBackground
					color1="#09090b"
					color2="#351d3f"
					color3="#e82eee"
					speed={0.15}
					swirl={1.5}
					swirlIterations={10}
					shapeScale={0.3}
					client:load
				/>
			</div>
		</nav>

		<main class="ml-16 sm:ml-20 md:ml-24 xl-ml-32"  >
			<slot />
			<Footer />
		</main>


	</div>
</RootLayout>
